.dmspbox{
    float: left;
    width: percentage(264/1200);
    position: relative;
    &:hover {
        .dmsp-container{
            display: block;
        }
    }
  .tit{
        margin: 0;
        background-color: #0093dd;
        cursor: pointer;
        @include setFont(15px, #fff, 400);
        @include grid($display: flex, $justify-content: space-between, $align-items: center);
        line-height: 48px;
        padding: 0 25px;
        i{
        }
    }
    .dmsp-container{
        display: none;
        &>ul{
            display: block;
        }
        ul{
            @extend %sub-menu-list;
            min-width: 100%;
            li{
                position: relative;
                a{
                    @include setFont(14px, #333, 400, $font-menu);
                    text-decoration: none;
                    padding: 5px 10px;
                    white-space: nowrap;
                    display: block;
                    @include transition(padding-left .2s linear);
                    &:hover{
                        padding-left: 25px;
                    }
                    &:after {
                        content: "\f105";
                        font:{
                            weight: 700;
                            family: $font-awesome;
                        };
                        @include absolute($top: 0, $right: 5px);
                    }
                }
                @include setTagAHover(#333, $bg-menu);
                &:hover{
                    &>ul{
                        display: block;
                    }
                }
                ul {
                    left: 100%;
                    top: 0;
                }
            }
        }
    }
}