// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
%map-style {
    overflow: hidden;
    width: 100%;
    height: $height-map;
}
%copyright-font {
    @include setFont(12px, #6d6d6d, 400, $font-text);
}


#footer {
    position: relative;
    width: 100%;
    z-index: 5;
    .ft-top{
        background-color: $bg-footer;
    }
    .ft-flex {
        @include boxstyle($display: flex, $justify-content: space-between);
        .ft-logo { 
            a{
                img{
                    
                }
            }
        }
        .ft-info {
            position: relative;
            width: percentage(530/1366);
            color: #fff;
            padding-top: 50px;
            padding-left: percentage(83/1366);
        }
        .ft-right{
            @include flex(1);
            border-left: 1px solid #2d2d2d;
            &__top{
                padding: 15px  percentage(83/1366) 15px 40px;
                @include grid(flex, $flex-wrap: wrap, $justify-content: space-between, 
                  $align-items: center, $gutter: null);
                img{}
            }
            &__bot{
                border-top: 1px solid #2d2d2d;
                padding: 25px percentage(83/1366) 25px 0;
                @include grid(flex, $flex-wrap: wrap, $justify-content: null, 
                  $align-items: null, $gutter: null);
            }
        }


        .ft-bando {
        }

        .ft-fanpage {
            width: percentage(1/3);
            .fanpageplace {
                height: 180px;
                overflow: hidden;
            }
        }

        .ft-dknt{
            @include flex(1);
            margin-left: 20px;
            .mailtit{
                @include setFont(14px, #fff, 400, $font-text);
            }
        }

        .ft-social{
        }
        .ft-video{
        }

        .ft-baiviet {
            width: percentage(1/3);
            padding-left: 40px;
            padding-right: 10px;
            ul {
                @extend %reset-list;
                li {
                    margin-bottom: 7px;
                    @include setTagAHover(#fff, #ffb800);
                    @include setFont(15px, #fff);
                    i{
                        margin-right: 5px;
                    }
                    a {
                        position: relative;
                        padding-left: 10px;
                        @include boxstyle($display: flex, $align-items: flex-start);
                        
                        @include p-el(before, $el-width: null, $el-height: null){
                          // content: "\f009";
                          content: "";
                          // // @include setFont(7px, #fff, 700, $font-awesome);
                          @include box(3px, 3px, 100%);
                          @include absolute($left: 0px, $top: 9px);
                          background-color: #fff;
                        };
                    }
                }
            }
        }
    }

    .ft-company {
        // @include setFont(em(52), #fc0214, 400, $font-SFUBelleRegular );
        // line-height: 1;
        // a {
        //     color: #fc0214;
        // }
    }

    .ft-tit {
        margin-bottom: 20px;
        text-transform: uppercase;
        strong, span {
                position: relative;
                @include setFont(16px, #fff, 700);
            //     @include p-el(before, $el-width: 60px, $el-height: 2px){
            //       background-color: #ffb800;
            //       @include absolute($left: 0px, $bottom: -10px);
            // };
        }

    }

    .ft-logo{
        // @include boxstyle($display: flex, $align-items: center);
        // width: 28.8%;
        // margin-bottom: 1em;
        // a{
        //     display: block;
        //     img{
        //         max-width: 400px;
        //     }
        // }
        
    }

    .copyright {
        position: relative;
        background-color: $bg-footer;
        border-top: 1px solid #2d2d2d;
        .ft-wrap {
            min-height: 40px;
            @include boxstyle($display: flex, $justify-content: space-between, $align-items: center);
            position: relative;
            .text {
                @extend %copyright-font;
                margin: 5px 0;
            }

            ul.ft-thongke {
                @extend %reset-list;

                @include boxstyle($display: flex);
                li {
                    @extend %copyright-font;

                    @include boxstyle($display: flex, $align-items: center);
                    position: relative;
                    margin: 5px 0;

                    span {
                        margin-left: 4px;
                        color: #fff;
                    }

                    & + li {
                        margin-left: 2em;

                        &::before {
                            content: "";
                            background-color: #6d6d6d;
                            @include box(1px, 12px);
                            @include absolute($left: -1em);
                        }
                    }
                }
            }
        }
    }
}
.codebando, .codebando iframe{
    // @extend %map-style;
}
.mxh{
    @extend %mxh-style;
}
