// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.hd {
    z-index: 450;
    &__top{
        background-color: $bg-header-top;
        &-flex{
            @include grid(flex, $flex-wrap: null, $justify-content: space-between, 
              $align-items: null, $gutter: null);
            min-height: 36px;
        }
        marquee{
            @include setFont(14px, #393a3a, 400, $font-text);
            @include grid(inline-flex, $flex-wrap: null, $justify-content: null, 
              $align-items: center, $gutter: null);
            width: percentage(450/1200); 
            margin-right: 20px;
        }
        &-info{
            @include grid(inline-flex, $flex-wrap: null, $justify-content: null, 
              $align-items: null, $gutter: null);
            @include flex(1);
            p{
                @include setFont(14px, #393a3a, 400, $font-text);
                margin-bottom: 0;
                position: relative;
                border-right: 1px solid #d9d9d9;
                padding-right: 20px;
                @include grid(inline-flex, $flex-wrap: null, $justify-content: null, 
                  $align-items: center, $gutter: null);
                i{
                    margin-right: 10px;
                    color: #858585;
                }
                @include doubly(){
                    margin-left: 20px;
                };
            }
        }
    }
    &__bot{
        &-flex{
            @include grid(flex, $flex-wrap: wrap, $justify-content: space-between, 
              $align-items: center, $gutter: null);
        }
    }
    &__search{
        p{
            @include setFont(14px, #393a3a, 400, $font-text);
            margin: 10px 0 0;
            strong{}
            i{
                  margin-right: 7px;
                  display: inline-block;
                @include p-el(after, $el-width: null, $el-height: null){
                  content: ", ";
                };
            }
        }
    }
    &__hotline{
        @include grid(flex, $flex-wrap: null, $justify-content: null, 
          $align-items: center, $gutter: null);
        img{}
        section{
            margin-left: 7px;
            p{
                margin-bottom: 0;
                @include setFont(15px, #000, 700, $font-text);
                a{
                    color: #f00;
                    font-size: 16px;
                }
                strong{
                    font-size: 16px;
                    margin-left: 5px;
                }
                &+p{
                    margin-top: 3px;
                }
            }
        }
    }
}
.logo{
    // display: block;
    // @include absolute($left: 0px, $top: 50%);
    // transform: translateY(-50%);
    // img{
    //     height: 150px;
    //     @include transition(all 0.4s ease);
    //     @include when-inside('.fixed'){
    //         height: 120px;
    //     }
    // }
}
