.box-menu-slider{
    
    width: percentage(264/1200);
    position: relative;
    z-index: 2;
    ul{
        margin: 0;
        list-style-type: none;
    }
}
.menu-left{
    background-color: #fff;
    border: 1px solid #d3d3d3;
    height: 400px;
    overflow-y: scroll;
   
    li{
        padding: 15px;
        position: relative;
        &:hover{
            & > ul{
                display: block;
            }
        }
        a{
            text-decoration: none;
            display: block;
            
            @include setFont(16px, #1f1f1f, 400, "Arial");
            &:before {
                content: "\f0a9";
                font:{
                    size: 14px;
                    weight: 700;
                    family: $font-awesome;
                };
                margin-right: 5px;
            }
        }
        @include setTagAHover(#707070, $bg-menu);
        ul{
            @extend %sub-menu-list;
            left: 100%;
            // top: 0;
            width: 100%; 
        }
        @include doubly(){
            border-top: 1px solid #d3d3d3;
        };
    }
    &>li{
        position: static;
    }
}