/.well-known
/@#cache
/trangquantri/*/
/trangquantri/*.php
/trangquantri/*.html
/trangquantri/*.js
!/trangquantri/css/
/trangquantri/css/*
!/trangquantri/css/main.css
!/trangquantri/css/main_repon.css
!/trangquantri/ajax
!/trangquantri/sources
!/trangquantri/templates
!/trangquantri/index.php
!/trangquantri/ajax.php
!/trangquantri/ajax_phanquyen.php
/composer
/images
/css/fontawesome
/css/fonts
/css/magiczoomplus
/js/datepicker
/js/photobox
/js/t-datepicker
/js/unitegallery
/node_modules
/production
/upload
/vendor
*.zip
package-lock.json