// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
%idx-tit {
}
%idx-tit-line {
  @include bg("idx-r.png", $background-repeat: no-repeat, $background-size:null, $background-position:0 0);
               @include flex(1);
               margin-left: 10px;
               position: relative;
}
.idx-tit {
  h4 {
    line-height: 1;
    margin-bottom: 35px;
    span, a {
      text-transform: uppercase;
            @include setFont(25px, #f00, 400, $font-text);
            @include grid(flex, $flex-wrap: nowrap, $justify-content:space-between, $align-items:center, $gutter:null);
            position: relative;
            @include p-el(after, $el-width:null, $el-height:21px) {
              @extend %idx-tit-line;
            }

            @include p-el(before, $el-width:null, $el-height:21px) {
              @extend %idx-tit-line;
              @include bg("idx-l.png", $background-repeat: no-repeat, $background-size:null, $background-position:top right);
              margin-left: 0;
              margin-right: 10px;
            }
    }
  }
}
.gioithieu {
  padding: 15px 0 50px;
  background-color: #f2f2f2;

  &-flex {
    @include grid(flex, $flex-wrap: wrap, $justify-content:space-between, $align-items:null, $gutter:null);
  }
  &__img {
    order: 1;
    width: percentage(580/1200);
    h5 {
      text-transform: uppercase;
      @include setFont(25px, #f00, 400, $font-text);
      @include grid(flex, $flex-wrap: nowrap, $justify-content:space-between, $align-items:center, $gutter:null);
      position: relative;
      display: none;

      @include p-el(after, $el-width:null, $el-height:21px) {
        @include bg("gioithieu-tit.png", $background-repeat: no-repeat, $background-size:null, $background-position:0 0);
        @include flex(1);
        margin-left: 10px;
        position: relative;
      }
    }
    img {
    }
  }
  &__info {
    @include flex(1);
    margin-right: 30px;

    h5 {
      text-transform: uppercase;
      @include setFont(25px, #f00, 400, $font-text);
      @include grid(flex, $flex-wrap: nowrap, $justify-content:space-between, $align-items:center, $gutter:null);
      position: relative;

      @include p-el(after, $el-width:null, $el-height:21px) {
        @include bg("gioithieu-tit.png", $background-repeat: no-repeat, $background-size:null, $background-position:0 0);
        @include flex(1);
        margin-left: 10px;
        position: relative;
      }
    }
  }
  &__desc {
    text-align: justify;
    text-align-last: left;
  }
  &__link {
    @include setFont(14px, #fff);
    text-transform: uppercase;
    padding: 0 20px;
    line-height: 36px;
    background-color: #0093dd;
    display: inline-block;
    margin-top: 36px;
  }
}
.tinnb {
  background-color: #f2f2f2;
  padding: 35px 0;

  &-main {
    margin: 0 -1em;

    &__item {
      padding: 0 1em;

      a {
        display: block;
        padding: 30px 27px;
        border: 1px solid #c9c9c9;
        background-color: #fff;
        figure {
          padding-top: percentage(180/330);
          margin-bottom: 0;
          position: relative;

          img {
            @extend %img-fill;
            object-fit: cover;
            object-position: top center;
          }
        }
        h5 {
          @include setFont(16px, #024cab, 400, $font-text);
          line-height: 1.4;
          margin-top: 20px;
        }
      }
      &-desc {
        @include setFont(14px, #565656, 400, $font-text);
        line-height: 1.5;
      }
      &-link {
        span {
          display: inline-block;
          background-color: #f00;
          @include setFont(14px, #fff);
          border-radius: 5px;
          text-transform: uppercase;
          padding: 0 20px;
          line-height: 36px;
          margin-top: 15px;
        }
      }
    }
  }
}
.spnoibat{
  padding: 30px 0; 
  .nav{
    margin-bottom: 15px;
    li{
      .nav-link{
        color: #333;
        background-color: #dfdfdf;
        border-radius: 0;
        padding: 3px 10px;
        &.active{
          color: #fff;
          background-color: #f00;
        }
      }
      &+li{
        margin-left: 3px;
        margin-bottom: 3px;
      }
    }
  }
}